*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f7fa;
}

.lato {
    font-family: "Lato", sans-serif;
  }
  
  .inter {
    font-family: "Inter", sans-serif;
  }

  .grey-color {
    color:#B1B1B1;
  }
  
  .primary-color {
    color: #343c6a;
  }
  
  .primary-background {
    background: #2d60ff;
  }